fastapi==0.111.0
uvicorn[standard]==0.30.1
sqlalchemy==2.0.30
geoalchemy2==0.15.1
psycopg2-binary==2.9.9
geopandas==0.14.4
pandas==2.2.2
numpy<2
scikit-learn==1.6.1
xgboost==2.0.3
joblib==1.4.2
requests==2.32.3
python-jose[cryptography]==3.3.0
google-auth==2.29.0
apscheduler==3.10.4
python-multipart==0.0.9
pillow==10.3.0
torch==2.3.0
torchvision==0.18.0
python-dotenv==1.0.1
